Some of the examples in RFC3986 5.4.1 fail when tested against calcUri()

I have been testing the calcUri() against the examples in RFC3986, Section 5.4.1 and most pass but there a few that fail:
- "?y"            =  "http://a/b/c/d;p?y"
- "."             =  "http://a/b/c/"
- "./"            =  "http://a/b/c/"
- ".."            =  "http://a/b/"
- "../"           =  "http://a/b/"
- "../.."         =  "http://a/"

See also the tests at the bottom of:
https://github.com/dajobe/raptor/blob/master/src/raptor_rfc2396.c
